html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#board {
    background-color: bisque;
    min-height: 100vh;
    min-width: 100vw;
}

#player{
    background-color: pink;
    position: absolute;
}

.obstacles {
    position: absolute;
    background-color: red;
}